.formContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    min-height: 75vh;
    gap: 3rem;
    
}

.form {
    border: 2px solid black; 
    padding: 5rem;
     box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
    border-radius: 3rem;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    position: fixed;
}

