.button {
    background-color: var(--primary-light) ;
    box-sizing: border-box;
    min-width: 20rem;
    min-height: 5rem;
    text-align: center;
    border-radius: 1.8rem;
    outline: none;
    cursor: pointer;
}

.button:hover {
    filter: brightness(90%);
}